[Unit]
Description=XWiki
After=mysql.service

[Service]
Type=simple
ExecStart=/usr/bin/docker run --rm --name xwiki --net internal -v /opt/configs/xwiki/data:/usr/local/xwiki -e DB_USER=xwiki -e DB_PASSWORD=xwiki -e DB_DATABASE=xwiki -e DB_HOST=mysql xwiki:stable-mysql-tomcat

[Install]
WantedBy=multi-user.target

